
#register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 0;
  position: relative;
  margin-bottom: 10px
}

#top-bar {
  position: relative;
  width: 100%;
  height: 50px;
   background: linear-gradient(rgb(255, 201, 0), rgb(255, 153, 0));
  border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  z-index: 1;
}

#logo {
  position: absolute;
  top: 5px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  object-fit: contain;
  z-index: 3;
}


#chart-img {
  
 
  margin: 30px 0 0 0;
  z-index: 2;
  
}

/* --- Card Styling --- */
#card {
    background: linear-gradient(rgb(255, 201, 0), rgb(255, 153, 0));
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  width: 95%;
min-height: 30vh;
  text-align: center;
  margin-top: 40px;
  z-index: 2;
}

#register-title {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* --- Input Fields --- */
#input-group {
  background: #fff;
  border-radius: 25px;
  border: 1px solid #fbc02d;
  padding: 12px 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

#input-group input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 15px;
  color: #333;
}

/* --- Verification Row --- */
#verification-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#verification-row input {
  flex-grow: 1;
  border: 1px solid #fbc02d;
  border-radius: 25px;
  padding: 12px 15px;
  font-size: 15px;
  outline: none;
}

/* --- Send Button --- */
#send-btn {
  background: linear-gradient(to right, #ffb74d, #ffa726);
  border: none;
  border-radius: 25px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(255, 167, 38, 0.4);
}

#send-btn:hover {
  background: linear-gradient(to right, #ffa726, #fb8c00);
  transform: scale(1.05);
}

/* --- Register Button --- */
#Register-btn {
  width: 46%;
  padding: 14px;

 background: linear-gradient(to right, #ffa726, #fb8c00);
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5vh;
  transition: 0.3s;
  box-shadow: 0 5px 12px rgba(234, 179, 8, 0.3);
}

#Register-btn:hover {
  background: linear-gradient(to right, #ffa726, #fb8c00);
  transform: scale(1.05);
}

/* --- Login Redirect Text --- */
#login-text {
  margin-top: 40px;
  font-size: 14px;
  color: #555;
}

#login-link {
  color: #000000;
  font-weight: 600;
  cursor: pointer;
}

#login-link:hover {
  text-decoration: underline;
}
